<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenglei.mapper.basedata.BdMaterialAttachMapper">

    <resultMap id="materialAttachMap" type="com.fenglei.model.basedata.BdMaterialAttach">
        <result property="id" column="id"></result>
        <result property="pid" column="pid"></result>

        <result property="attachId" column="attach_id"></result>

        <association property="sysFile" javaType="com.fenglei.model.system.entity.SysFiles">
            <result property="id" column="file_id"></result>
            <result property="fileName" column="file_name"></result>
            <result property="url" column="url"></result>
            <result property="size" column="size"></result>
            <result property="fileType" column="file_type"></result>
            <result property="disableDownload" column="disable_download"></result>
            <result property="alias" column="alias"></result>
            <result property="remark" column="remark"></result>
        </association>
    </resultMap>

    <select id="getList" resultMap="materialAttachMap">
        SELECT bma.*, sf.id as file_id, sf.file_name, sf.url, sf.size, sf.file_type
             , sf.disable_download, sf.alias, sf.remark
        FROM bd_material_attach bma
            LEFT JOIN sys_files sf ON bma.attach_id = sf.id
        <where>
            bma.deleted = 0
            <if test="bdMaterialAttach.pids != null and bdMaterialAttach.pids.size > 0">
                and bma.pid in
                <foreach collection="bdMaterialAttach.pids" item="pid" index="index" open="(" separator="," close=")">
                    #{ pid }
                </foreach>
            </if>
            <if test="bdMaterialAttach.pid != null and bdMaterialAttach.pid != ''">
                and bma.pid = #{ bdMaterialAttach.pid }
            </if>
        </where>
    </select>
</mapper>
