<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenglei.mapper.basedata.BdTempMaterialRawMapper">

    <resultMap id="materialRawMap" type="com.fenglei.model.basedata.BdTempMaterialRaw">
        <result property="id" column="id"></result>
        <result property="pid" column="pid"></result>
        <result property="numerator" column="numerator"></result>
        <result property="denominator" column="denominator"></result>

        <result property="materialDetailId" column="material_detail_id"></result>
        <result property="colorId" column="raw_color_id"></result>
        <result property="color" column="raw_color"></result>
        <result property="specificationId" column="raw_specification_id"></result>
        <result property="specification" column="raw_specification"></result>
        <!--        columnPrefix="raw_"-->
        <association property="rawMaterial" javaType="com.fenglei.model.basedata.BdMaterial">
            <result property="id" column="raw_id"></result>
            <result property="number" column="raw_number"></result>
            <result property="name" column="raw_name"></result>
            <result property="unitId" column="raw_unit_id"></result>
            <result property="unitName" column="raw_unit_name"></result>
            <result property="mainPicId" column="raw_main_pic_id"></result>
        </association>
    </resultMap>

    <select id="getList" resultMap="materialRawMap">
        SELECT bmr.*
             , bm.id as raw_id, bm.number as raw_number, bm.name as raw_name, bmd.color_id as raw_color_id, bmc.color as raw_color
             , bmd.specification_id as raw_specification_id, bms.specification as raw_specification
             , bm.unit_id as raw_unit_id, bu.name as raw_unit_name, bm.main_pic_id as raw_main_pic_id
        FROM bd_temp_material_raw bmr
            LEFT JOIN bd_material_detail bmd ON bmr.material_detail_id = bmd.id
            LEFT JOIN bd_material_color bmc ON bmd.color_id = bmc.id
            LEFT JOIN bd_material_specification bms ON bmd.specification_id = bms.id
            LEFT JOIN bd_material bm ON bmd.pid = bm.id
            LEFT JOIN bd_unit bu ON bm.unit_id = bu.id
        <where>
            1 = 1
            <if test="bdTempMaterialRaw.pids != null and bdTempMaterialRaw.pids.size > 0">
                and bmr.pid in
                <foreach collection="bdTempMaterialRaw.pids" item="pid" index="index" open="(" separator="," close=")">
                    #{ pid }
                </foreach>
            </if>
            <if test="bdTempMaterialRaw.pid != null and bdTempMaterialRaw.pid != ''">
                and bmr.pid = #{ bdTempMaterialRaw.pid }
            </if>
        </where>
    </select>
</mapper>
