<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenglei.mapper.pur.PurPurchaseOrderItemMapper">

    <resultMap id="purchaseOrderItemMap" type="com.fenglei.model.pur.entity.PurPurchaseOrderItem">
        <result property="id" column="id" />
        <result property="pid" column="pid" />
        <result property="seq" column="seq" />
        <result property="materialDetailId" column="material_detail_id" />
        <result property="supplierId" column="supplier_id" />
        <result property="colorId" column="color_id" />
        <result property="specificationId" column="specification_id" />
        <result property="color" column="color" />
        <result property="specification" column="specification" />
        <result property="qty" column="qty" />
        <result property="remark" column="remark" />
        <result property="instockQty" column="instock_qty" />
        <result property="piQty" column="pi_qty" />

        <association property="material"
                     javaType="com.fenglei.model.basedata.BdMaterial">
            <result property="id" column="product_id" />
            <result property="number" column="product_number" />
            <result property="name" column="product_name" />
            <result property="mainPicId" column="main_pic_id"></result>
            <result property="mainPicUrl" column="main_pic_url" />
            <result property="unitName" column="unit_name" />
        </association>

        <association property="supplier"
                     javaType="com.fenglei.model.basedata.BdSupplier">
            <result property="id" column="supplier_id" />
            <result property="number" column="supplier_number" />
            <result property="name" column="supplier_name" />
            <result property="contact" column="supplier_contact"></result>
            <result property="contactNumber" column="supplier_contact_number" />
            <result property="address" column="supplier_address" />
        </association>
    </resultMap>

    <select id="listByPid" resultMap="purchaseOrderItemMap">
        select ppoi.*,
               bmd.pid as product_id,
               bm.number as product_number,
               bm.name as product_name,
               bm.main_pic_id as main_pic_id,
               sf.url as main_pic_url,
               bu.name as unit_name,
               bmd.color_id,
               bmd.specification_id,
               bmc.color,
               bms.specification,
               supp.number as supplier_number,
               supp.name as supplier_name,
               supp.contact as supplier_contact,
               supp.contact_number as supplier_contact_number,
               supp.address as supplier_address,
               ppoi.pi_qty
        from pur_purchase_order_item ppoi
            left join bd_material_detail bmd on ppoi.material_detail_id = bmd.id
            left join bd_material bm on bmd.pid = bm.id
            left join bd_material_color bmc on bmd.color_id = bmc.id
            left join bd_material_specification bms on bmd.specification_id = bms.id
            left join sys_files sf on bm.main_pic_id = sf.id
            left join bd_unit bu on bm.unit_id = bu.id
            left join bd_supplier supp on ppoi.supplier_id = supp.id
        where ppoi.pid = #{pid}
        order by ppoi.pid, ppoi.seq, (ppoi.qty - ppoi.instock_qty) desc
    </select>

    <select id="getItemsByMain" resultMap="purchaseOrderItemMap">
        select ppoi.*,
               bmd.pid as product_id,
               bm.number as product_number,
               bm.name as product_name,
               bm.main_pic_id as main_pic_id,
               sf.url as main_pic_url,
               bu.name as unit_name,
               bmd.color_id,
               bmd.specification_id,
               bmc.color,
               bms.specification,
               supp.number as supplier_number,
               supp.name as supplier_name,
               supp.contact as supplier_contact,
               supp.contact_number as supplier_contact_number,
               supp.address as supplier_address
        from pur_purchase_order_item ppoi
            left join bd_material_detail bmd on ppoi.material_detail_id = bmd.id
            left join bd_material bm on bmd.pid = bm.id
            left join bd_material_color bmc on bmd.color_id = bmc.id
            left join bd_material_specification bms on bmd.specification_id = bms.id
            left join sys_files sf on bm.main_pic_id = sf.id
            left join bd_unit bu on bm.unit_id = bu.id
            left join bd_supplier supp on ppoi.supplier_id = supp.id
        where
            1 = 1
            <if test="purchaseOrder.id != null and purchaseOrder.id != ''">
                and ppoi.pid = #{ purchaseOrder.id }
            </if>
            <if test="purchaseOrder.ids != null and purchaseOrder.ids.size > 0">
                and ppoi.pid in
                <foreach collection="purchaseOrder.ids" item="id"
                         index="index" open="(" separator="," close=")">
                    #{ id }
                </foreach>
            </if>
            <if test="purchaseOrder.itemProductId != null and purchaseOrder.itemProductId != ''">
                and bm.id = #{ purchaseOrder.itemProductId }
            </if>
            <if test="purchaseOrder.itemProductIds != null and purchaseOrder.itemProductIds.size > 0">
                and bm.id in
                <foreach collection="purchaseOrder.itemProductIds" item="itemProductId"
                         index="index" open="(" separator="," close=")">
                    #{ itemProductId }
                </foreach>
            </if>
            <if test="purchaseOrder.itemSupplierId != null and purchaseOrder.itemSupplierId != ''">
                and ppoi.supplier_id = #{ purchaseOrder.itemSupplierId }
            </if>
            <if test="purchaseOrder.itemSupplierIds != null and purchaseOrder.itemSupplierIds.size > 0">
                and ppoi.supplier_id in
                <foreach collection="purchaseOrder.itemSupplierIds" item="itemSupplierId"
                         index="index" open="(" separator="," close=")">
                    #{ itemSupplierId }
                </foreach>
            </if>
        order by ppoi.seq asc
    </select>
</mapper>
